:root {
  --main-color: #4962D6;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  font-size: 20px;
}

p {
  font-size: 125%;
}

h1 {
  color: var(--main-color)
}

h2 {
  font-size: 200%;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  color: var(--main-color)
}

h3 {
  font-size: 150%;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.portrait {
  border-radius: 50%;
}

.header_nav__link {
  font: 24px Verdana, sans-serif;
}